
@import "ember-cli-bootstrap-4/bootstrap";

$gold : #ffe75d; //#ffe44c;
$silver: #d0cfcc;

body {
  background-color: black;
}

h1 {
  color: white;
}

h2, h2 span, h3, h3 {
  color: $silver;
}

a, a:hover, a:visited {
  color: $silver;
}

p {
  font-size: 40px;
  color: $silver;
}

tbody tr th, tbody tr td {
  width: 50%;
}

.badge {
  font-size: 100%;
}

.card {
  border-radius: 0;
  background-color: #d0cfcc;
  color: black;
  border: 1px solid black;

  h3 {
    color: black;
  }
}

.table {
  color: black;

  td, tr, th {
    color: black;
    border-top: 1px solid black;
  }
}

.btn {
  background-color: $silver;
}

/* ==============================================================================================
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2 {
    margin-top: 30px;
}
// header h2 {
//     font-size: 22px;
//     margin: 0 auto;
//     padding: 10px 0;
//     width: 80%;
//     text-align: center;
// }
// header a, a:visited {
//     text-decoration:none;
//     color:#fcfcfc;
// }

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}
