<div class="row">
  <div class="col text-center">
    <h2 class="text-center mb-5">Choose a Category</h2>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    {{#link-to "people"}}
      <h3 class="display-4">People</h3>
    {{/link-to}}
  </div>

  <div class="col text-center">
    {{#link-to "starships"}}
      <h3 class="display-4">Starships</h3>
    {{/link-to}}
  </div>
</div>
