<div class="row">
  <div class="col text-center">
    <h2 class="text-center text-white mb-5">Choose a Category</h2>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    {{#link-to "people" class="text-white"}}
      <h3 class="display-4">People</h3>
    {{/link-to}}
  </div>

  <div class="col text-center">
    {{#link-to "starships" class="text-white"}}
      <h3 class="display-4">Starships</h3>
    {{/link-to}}
  </div>
</div>
