<div class="row">
  <div class="col text-center">
    <h2 class="text-center mb-5">Choose a Category</h2>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h3 class="display-4">{{#link-to "people"}}People{{/link-to}}</h3>
  </div>

  <div class="col text-center">
    <h3 class="display-4">{{#link-to "starships"}}Starships{{/link-to}}</h3>
  </div>
</div>
