<nav>
  <h1 class="navbar navbar-expand justify-content-center text-white font-weight-bold display-4 mt-4 mb-4">
    {{#link-to "index" class="text-white"}}Star Wars Top Trumps{{/link-to}}
  </h1>
</nav>

<main class="container">

  {{outlet}}

</main>
