<header>
  <h1>Star Wars Top Trumps</h1>
</header>

<main>

  <section class="player-left">
    <h2>Player 1</h2>


  </section>

  <section class="player-right">
    <h2>Player 2</h2>


  </section>

  {{outlet}}

</main>
