<nav>
  <h1 class="navbar navbar-expand justify-content-center font-weight-bold display-4 mt-4">
    {{#link-to "index"}}Star Wars Top Trumps{{/link-to}}
  </h1>
</nav>

<main class="container">

  {{outlet}}

</main>
